<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Prashant Palikhe"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    <title>Kitty explorer</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="./src/css/base.css" rel="stylesheet">
    <link href="./src/css/drawer.css" rel="stylesheet">
    <link href="./src/css/header.css" rel="stylesheet">
</head>
<body ng-cloak ng-controller="AppController as appVm">

    <header class="header">
        <button ng-click="appVm.showMenu()" class="header__show-drawer material-icons">menu</button>
    </header>

    <drawer position="left">
        <nav class="nav">
            <div class="nav-header">
                <button ng-click="appVm.hideMenu()" class="nav__hide-drawer material-icons">close</button>
            </div>
        </nav>
    </drawer>

    <main>
        <div class="kitties">
            <card ng-repeat="kitty in appVm.kitties" img="kitty.image" title="kitty.breed" href="kitty.id"></card>
        </div>
    </main>

    <script src="src/js/vendors/angular.js"></script>
    <script src="./src/js/app.js"></script>
    <script src="./src/js/services/kittyService.js"></script>
    <script src="./src/js/app.controller.js"></script>

    <script src="./src/js/components/card/card.js"></script>
    <script src="./src/js/components/card/card.component.js"></script>

    <script src="./src/js/components/drawer/drawer.js"></script>
    <script src="./src/js/components/drawer/drawer.controller.js"></script>
    <script src="./src/js/components/drawer/drawer.component.js"></script>
</body>
</html>