.episodes {
    display: flex;
    flex-flow: row wrap;
}

.episodes::after {
    content: "";
    display: table;
    clear: both;
}

.episode {
    position: relative;
    height: 260px;
    padding: 10px;
    max-width: 120px;
}

.episode__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.episode__title {
    margin: 0;
    padding: 15px 0px;
    color: white;
    font-size: 12px;
    font-weight: normal;
    height: 80px;
    overflow: hidden;
}

.episode__img {
    width: 100%;
    display: block;
    height: 180px;
    object-fit: cover;
}

.episode-player video {
    width: 100%;
    height: auto;
}

.season__title {
    padding: 20px;
    margin: 0;
    font-size: 16px;
}