<header class="header">
    <button ng-click="friendsApp.showMenu()" class="header__btn material-icons">menu</button>

    <a class="header__logo" href="#/" title="Go to episodes list">
        <img class="header__logo__img" src="./src/img/logo.jpg" alt="Friends logo">
    </a>
</header>

<ng-view></ng-view>

<drawer position="left">
    <nav class="nav">
        <div class="nav-header">
            <button ng-click="friendsApp.hideMenu()" class="nav__hide-drawer material-icons">close</button>
        </div>

        <div class="nav-body">
            <navigation></navigation>
        </div>
    </nav>
</drawer>