.drawer {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 280px;
    height: 100%;
    background: white;
    transform: translate3d(-104%, 0, 0);
    will-change: transform;
    z-index: 1;
    box-shadow: 0px 19px 19px 0px rgba(0, 0, 0, 0.3), 0px 15px 6px 0px rgba(0, 0, 0, 0.22);
}

.drawer.is-animatable {
    transition: 0.13s transform cubic-bezier(0, 0, 0.3, 1);
}

.drawer.is-visible.is-animatable {
    transition: 0.35s transform cubic-bezier(0, 0, 0.3, 1);
}

.drawer.is-visible {
    transform: translate3d(0, 0, 0);
}

.drawer-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    pointer-events: none;
    transform: translateZ(0);
    will-change: transform;
}

.drawer-backdrop.is-animatable {
    transition: 0.13s opacity cubic-bezier(0, 0, 0.3, 1);;
}

.drawer-backdrop.is-visible.is-animatable {
    transition: 0.35s opacity cubic-bezier(0, 0, 0.3, 1);
}

.drawer-backdrop.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.drawer-edge {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
}