.search {
    position: fixed;
    top: 56px;
    width: 100%;
}

.search__input {
    border: none;
    width: 100%;
    padding: 15px;
    height: 56px;
    font-size: 12px;
    line-height: 28px;
}

.search__input:focus {
    outline: none;
}